body {
  /*background-image: url("../images/pinkbricks.jpg");*/
  background-color: #333333;
}
.container {
  width: 100%;
  margin-bottom: 70px;
}
h1, h2, h3 {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
h1 {
  color: #F76F9A;
  font-size: 80px;
}
h2 {
  color: #F76F9A;
  font-size: 20px;
}
h3 {
  color: #FFDAD8;
  font-size: 16px;
}
p {
  font-family: 'Slabo 27px', serif;
  color: #FFDAD8;
  font-size: 16px;
}
nav {
  color: #FFDAD8;
  background-color: #333333;
  font-family: 'Hind', sans-serif;
}
.navbar-brand {
  color: #F76F9A;
  font-family: 'Hind', sans-serif;
}
a {
  color: #FFDAD8;
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  /*background-color: #333333;*/
}
.blog-post-title {
  text-align: left;
}
img.biopic, .biopara {
  max-height: 300px;
}
.biopic-container, .greeting, .bio-para-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.first-row {
  padding: 5px;
}
label {
  color: #333333;
  font-family: 'Lato', sans-serif;
}
.portfolio-description {
  font-size: 14px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fab {
  font-size: 3em;
  color: #333333;
  padding: 0;
}
.buttons {
  color: #333333;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 5px;
}
.icon-section {
  display: flex;
  justify-content: space-around;
}
.publications-section {
  text-align: center;
  margin-top: 20px;
}
.footer, .copyright {
  font-size: 16px;
  text-align: center;
  background-color: #333333;
  color: #FFDAD8;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #333333;
}
.copyright-l1 {
  color: #F76F9A;
}

.fa-bars {
  color: #FFDAD8;
}
